# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
mboras-cloud-messaging-firebase-adminsdk-3crg4-dce7b139ed.json